@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 249, 250, 251;
  --background-start-rgb: 17, 24, 39;
  --background-end-rgb: 11, 15, 25;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
    to bottom,
    rgb(var(--background-start-rgb)),
    rgb(var(--background-end-rgb))
  );
  min-height: 100vh;
}

@layer base {
  h1, h2, h3, h4, h5, h6 {
    @apply font-bold text-foreground;
  }
  
  a {
    @apply text-primary hover:text-primary-dark transition-colors;
  }
} 